
:root{
    --bg: rgb(239, 238, 238);
}


html{
    background: linear-gradient(135deg,gray 0%, darkslategray 100%)
}

body{
    position: relative;
    margin:0;
    margin-top: 1vh;
    width: 90vw;
    margin-left: 5vw;
    background-color: var(--bg);
    box-shadow: 10px 10px;
    border-radius: 10px;

    overflow-x: hidden;
}

#pageHeader{
    background: linear-gradient(0deg, rgb(189, 232, 247) 0%, rgb(82, 82, 255) 100%);
    width: 100%;
    height: 20%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 0.75vh solid lightgray;
}

/*
    Header main text:
*/

#pageHeader h1{
    position: relative;
    width: 50%;
    height: 50%;
    top: 50%;

    text-align: center;
    font-size: 3.5vw;
    color: var(--bg);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    transform: translate(0, -50%);
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#byteBold{
    color: rgb(101, 100, 100);
}

/*
   Header link array:
*/


#directorylist{
    position: relative;
    left: 52.5%;
    bottom: 30%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5vw;
}

/*
    active for whichever page you're currently on
*/


.headerlink{
    position : relative;
    float: left;
    margin-left: 3vw;
    color: black;
    
    transform: scale(1);
    transition: all linear 0.2s;

    text-decoration: none;
}

.headerlink:not(.active):hover{
    color: darkslategray;
    transform: scale(1.3);
    transition: all linear 0.2s;
}

.headerlink:not(.active):visited{
    color: black;
}


.active{
    color: white;
}



#whatwedo{
    position: relative;
    float:left;
    width: fit-content;
    height: 60%;
    left: -45vw;
    top:-2.5vh;
    padding: 1vw;
    padding-top:0;

    cursor: pointer;
    transform: translate(50vw, 10vh);
    transition: all ease-in-out 1s;
}

#whatwedo:hover{
    box-shadow: 10px 10px #adadad;
    border-radius: 3vh;
    
    background-color: white;
    transform: translate(50vw, 5vh) scale(1.05);
    transition: all ease-in-out 0.5s;
}

#whatwedo h1,li,strong{
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#whatwedo h1{
    font-weight: 600;
    color: purple;
    font-size:3vw;
    margin-bottom: 0;
}

#whatwedo li{
    margin-top: 1vh;
    font-size: 1.75vw;
}


#whatwedo strong{
    color: green;
    font-size: 3vw;
}

.gradientborder{
    position: relative;

    float:right;
    width: 0.5%;
    height: 40%;
    border-radius: 0.3vh;
    background: linear-gradient(0deg, lightblue 0%, skyblue 50%, blue 100%);
}

#goalsgradient{
    top:20vh;
}

#goals{
    position: relative;
    float:right;
    margin-left: 5vw;
    right:  -47vw;
    width: 35%;
    height: 50%;
    padding: 1vw;
    padding-top: 0;
    cursor: pointer;
    transform: translate(-50vw, 10vh);
    transition: all ease-in-out 1s;
}

#goals h1,li{
    width: fit-content;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#goals h1{
    color: darkblue;
    font-size:2.5vw;
    text-shadow: 0;
    transition: all 0.3s;
}


#goals ul{
    width: 85%;
}

#goals li{
    font-size: 1.5vw;
    margin-top: 10px;
}

#goals strong{
    font-weight: 600;
    text-decoration: underline;
}

#goals:hover{
    box-shadow: 10px 10px #adadad;
    border-radius: 3vh;
    backdrop-filter: blur(10px);
    
    background-color: white;
    transform: translate(-50vw, 5vh) scale(1.05);
    transition: all ease-in-out 0.5s;
}

#goals:hover > h1{
    text-shadow:
    -1px -1px 0 darkblue,
    1px -1px 0 darkblue,
    -1px 1px 0 darkblue,
    1px 1px 0 darkblue;
    transition: all 0.5s;
}



.imgcontainer{
    flex: auto;
    float: left;
    left: 6vw;
    width: 40vw;
}

.imgcontainer > img{
    max-width: 90%;
    height: auto;
}

#mainimg{
    position: relative;
    top: 1vh;
    left: 10vw;
}