

html{
    background-color: gray;
}

body{
    margin:0;
    margin-top: 1vh;
    width: 90vw;
    margin-left: 5vw;
    background-color: white;
    box-shadow: 10px 10px;
    border-radius: 10px;
}

#pageHeader{
    background-color:#1a61f0;
    width: 100%;
    height: 20%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 0.75vh solid black;
}


#pageHeader h1{
    position: relative;
    width: 50%;
    height: 50%;
    left: 50%;
    top: 50%;

    text-align: center;
    font-size: 7vh;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    transform: translate(-50%, -50%);
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#byteBold{
    color: gray;
}