

html{
    background: linear-gradient(135deg,gray 0%, darkslategray 100%)
}

body{
    position: relative;
    margin:0;
    margin-top: 1vh;
    width: 90vw;
    margin-left: 5vw;
    background-color: white;
    box-shadow: 10px 10px;
    border-radius: 10px;

    overflow-x: hidden;
}

#pageHeader{
    background-color:#1a61f0;
    width: 100%;
    height: 20%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 0.75vh solid black;
}

/*
    Header main text:
*/

#pageHeader h1{
    position: relative;
    width: 50%;
    height: 50%;
    top: 50%;

    text-align: center;
    font-size: 3.5vw;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    transform: translate(0, -50%);
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#byteBold{
    color: gray;
}

/*
   Header link array:
*/


#directorylist{
    position: relative;
    left: 52.5%;
    bottom: 30%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5vw;
}

/*
    active for whichever page you're currently on
*/


.headerlink{
    position : relative;
    float: left;
    margin-left: 3vw;
    color: black;

    text-decoration: none;
}

.headerlink:not(.active):hover{
    color: darkslategray;
    transform: scale(1.3);
    transition: all linear 0.2s;
}

.headerlink:not(.active):visited{
    color: black;
}


.active{
    color: white;
}





#mainmessage{
    position: relative;
    left: 3vw;
    height:10vh;
    margin: 3vh;
    overflow:hidden;
    
}

@keyframes scrolltext{
    from{
        transform: translateY(-80%);
    }
    to{
        transform: translateY(80%);
    }
}

#mainmessage h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.25vw;
    font-weight: 350;
    height:fit-content;

    animation: scrolltext 30s linear 0s infinite;
}

#goals{
    position: relative;
    float:left;
    left:  3vw;
    width: 35%;
    height: 50%;
    background: linear-gradient(90deg,  #cfd1d0 0%, #bababa 100%);
    border-radius: 3vw;
    padding: 1vw;
    padding-top: 0;
    border-style: solid;
    box-shadow: 7px 7px gray;
    cursor: pointer;
    transition: box-shadow linear 0.3s;
}

#goals h1,li{
    width: fit-content;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#goals h1{
    color: darkblue;
    font-size:2.5vw;
    text-shadow: 0;
    transition: all 0.3s;
}


#goals ul{
    width: 85%;
}

#goals li{
    font-size: 1.5vw;
    margin-top: 10px;
}

#goals strong{
    text-decoration: underline;
}

#goals:hover{
    box-shadow: 10px 10px gray;
    transition: box-shadow linear 0.3s;
}

#goals:hover > h1{
    text-shadow:
    -1px -1px 0 darkblue,
    1px -1px 0 darkblue,
    -1px 1px 0 darkblue,
    1px 1px 0 darkblue;
    transition: all 0.3s;
}


.imgcontainer{
    flex: auto;
    float: left;
    left: 6vw;
    width: 40vw;
}

.imgcontainer > img{
    max-width: 90%;
    height: auto;
}

#mainimg{
    position: relative;
    top: 1vh;
    left: 10vw;
}