


.pricingCards{
    position: relative;
    display: grid;
    width: 90vw;
    height: fit-content;
    margin: 5vw;
    margin-top: 100px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 50px;
    align-items: center;
    justify-items: center;
}

.priceCard{
    background: radial-gradient(rgb(222, 222, 222) 0%, gray 100%);
    width:350px;
    padding: 20px;
    
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 7.5%;
    border-bottom-right-radius: 7.5%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 20px 10px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.priceCard h1{
    font-size: 2.25rem;
}

.priceCard:hover{
    transform: scale(1.1);

    transition: all ease 0.2s;
}

.priceCard ul{
    margin-bottom: 15%;
}

.priceCard ul li{
    position: relative;
    right: 10px;
    margin-top: 10px;
    font-size: 1.2rem;
}

.priceCard ul li::after{
    content: ' ✓';
    color: green;
    font-weight: 900;
}


.bioSplit{
    position: relative;
    width: 75%;
    height: 1%;
    margin: 0;
    left: 5%;
    border-radius: 5px;
    background: linear-gradient(90deg, rgb(61, 104, 161) 50%, rgb(50, 44, 138) 100%);
}

.basic{
    height: 375px;
}

.advanced{
    height: 400px;
}

.supreme{
    height: 425px;
}

.basic h1{
    color: rgb(19, 71, 127);
}

.advanced h1{
    color: rgb(199, 45, 45);
}

.supreme h1{
    color: green;
}


.details{
    margin-left: 22%;

    font-size: 1.5rem;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(90deg, rgb(46, 145, 179), rgb(86, 86, 244));
    border-radius: 20px;
    color: white;
    text-decoration: none;
}

@media only screen and (max-aspect-ratio: 4/4){
    .pricingCards{
        margin: 3vw;
        margin-top: 5vw;
    }
}